@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inter+Tight:wght@100..900&display=swap');

.code_block {
    border-radius: 5px;
    padding: 0px 0px 22px 25px;
    margin: 20px 0px;
    background: var(--code_bg) !important;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    font-size: var(--font-size-monospace);
}

.output_block {
    border-radius: 5px;
    padding: 0px 0px 22px 25px;
    margin: 20px 0px;
    background: #ffffff !important;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    font-size: var(--font-size-monospace);
    border: 1px solid #d1d5da;
}

hr {
    margin: 70px 0 50px 0 !important;
}

.h1_project,
.h2_project,
.h3_project,
.h4_project,
.h5_project,
.h6_project,
{
font-family: 'Inter' !important;
margin-top: 10;
margin-bottom: 5
}


.collapsible {
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible .icon {
    display: inline-flex;
    margin-left: 8px;
}

.collapsible .icon-up {
    display: none;
}

.collapsible.active .icon-down {
    display: none;
}

.collapsible.active .icon-up {
    display: inline-flex;
}

.content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
}

.color-bg-subtle {
    border-radius: 5px;
    padding: 22px 22px 22px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
}