<!-- FOOTER -->
<footer id="footer" role="contentinfo"
  class="footer pt-6 position-relative color-bg-subtle ">
  <h2 class="sr-only">Site-wide Links</h2>
  <div class="container-xl p-responsive">
    <div class="d-flex flex-wrap py-5 mb-5">
      <section class="col-12 col-lg-4 mb-5"><img src="../assets/namelogo.png"
          width="140" height="140">
        <h3 class="h5 mt-2 mb-0">What's green, has 4 legs. and could <br>kill
          you if it fell out of a tree?</h3>
        <p class="f5 color-fg-muted mb-3">A pool table.</p><a
          class="btn-mktg mb-4 btn-muted-mktg" href="#"
          style="scroll-behavior: smooth;">Back to top</a>
      </section>

      <nav class="col-14 col-sm-8 col-lg-4 mb-6 mb-md-2 pr-3 pr-lg-0 pl-lg-4">
        <h3 class="h4 mb-4 color-fg-muted text-semibold">
          Contact
        </h3>
        <ul class="list-style-none color-fg-muted f5">
          <li class="lh-condensed mb-3">
            <a class="Link--secondary" href="https://zalo.me/0778882602">
              Zalo: (+84) 77 888 2602
            </a>
          </li>

          <li class="lh-condensed mb-3">
            <a class="Link--secondary" href="mailto:hngoc.le.404@gmail.com">
              Email: hngoc.le.404@gmail.com
            </a>
          </li>



          <li class="lh-condensed mb-3">
            <a class="Link--secondary"
              href="https://discord.com/users/1190260937719033916">
              Discord: kalulu404
            </a>
          </li>

        </ul>
      </nav>




      <nav class="col-14 col-sm-8 col-lg-4 mb-6 mb-md-2 pr-3 pr-lg-0 pl-lg-4">
        <h3 class="h4 mb-4 color-fg-muted text-semibold">
          Other links
        </h3>
        <ul class="list-style-none color-fg-muted f5">
          <li class="lh-condensed mb-3">
            <a class="Link--secondary" href="../resume.html">
              Resume
            </a>
          </li>


          <li class="lh-condensed mb-3">
            <a class="Link--secondary"
              href="https://www.myequals.net/r/sharelink/550d70d0-6ddc-4eba-8afc-618cabcd697d/ba1fa78f-59b1-4322-8156-6804761b4621">
              Testamur
            </a>
          </li>

        </ul>
      </nav>