<head>
  <meta charset="utf-8" />
  <link rel="dns-prefetch" href="https://github.githubassets.com" />
  <link rel="dns-prefetch" href="https://avatars.githubusercontent.com" />
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com" />
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/" />
  <link rel="preconnect" href="https://github.githubassets.com" crossorigin />
  <link rel="preconnect" href="https://avatars.githubusercontent.com" />

  <link rel="preload"
    href="https://github.githubassets.com/assets/mona-sans-d1bf285e9b9b.woff2"
    as="font" type="font/woff2" crossorigin />

  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/light_experimental-8f9de4484863.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/dark_experimental-3fd0e0b6e826.css" />
  <link data-color-theme="light" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_experimental-8f9de4484863.css" />
  <link data-color-theme="light_high_contrast" crossorigin="anonymous"
    media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_high_contrast_experimental-10abdc3747c3.css" />
  <link data-color-theme="light_colorblind" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_colorblind_experimental-d01e00863378.css" />
  <link data-color-theme="light_colorblind_high_contrast"
    crossorigin="anonymous" media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_colorblind_high_contrast_experimental-e379dad4f96f.css" />
  <link data-color-theme="light_tritanopia" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_tritanopia_experimental-cda6c66472ea.css" />
  <link data-color-theme="light_tritanopia_high_contrast"
    crossorigin="anonymous" media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/light_tritanopia_high_contrast_experimental-b843cf381204.css" />
  <link data-color-theme="dark" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_experimental-3fd0e0b6e826.css" />
  <link data-color-theme="dark_high_contrast" crossorigin="anonymous"
    media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_high_contrast_experimental-5748739a6b50.css" />
  <link data-color-theme="dark_colorblind" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_colorblind_experimental-789722e6b34a.css" />
  <link data-color-theme="dark_colorblind_high_contrast" crossorigin="anonymous"
    media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_colorblind_high_contrast_experimental-32b00a22b284.css" />
  <link data-color-theme="dark_tritanopia" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_tritanopia_experimental-43e8f3e4fb9c.css" />
  <link data-color-theme="dark_tritanopia_high_contrast" crossorigin="anonymous"
    media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_tritanopia_high_contrast_experimental-66cec90757f5.css" />
  <link data-color-theme="dark_dimmed" crossorigin="anonymous" media="all"
    rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_dimmed_experimental-81127d4dd148.css" />
  <link data-color-theme="dark_dimmed_high_contrast" crossorigin="anonymous"
    media="all" rel="stylesheet"
    data-href="https://github.githubassets.com/assets/dark_dimmed_high_contrast_experimental-38b69e3c08d0.css" />

  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/primer-primitives-225433424a87.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/primer-b8b91660c29d.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/global-9585668fcde8.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/github-ef14fd9f242b.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/site-f67316d89a98.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/landing-pages-a689d1185c6b.css" />

  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/primer-react.f322b041d5ce5828efd8.module.css" />
  <link crossorigin="anonymous" media="all" rel="stylesheet"
    href="https://github.githubassets.com/assets/landing-pages.f8937ca30abf546a5008.module.css" />

  <title>GitHub Issues · Project planning for developers</title>

  <meta name="route-pattern" content="/features/issues(.:format)"
    data-turbo-transient />

  <meta name="route-controller" content="site_landing_pages"
    data-turbo-transient />

  <meta name="route-action" content="show" data-turbo-transient />

  <meta name="fetch-nonce" content="v2:c01b3bff-da2e-9e5a-4b72-87ca87f92e39" />

  <meta name="current-catalog-service-hash"
    content="3b3a86e94adb1936974b9e80c6c5c959f35b1d5f75b93677737ffa36daf92bbd" />

  <meta name="selected-link" value="/features/issues" data-turbo-transient />
  <link rel="assets" href="https://github.githubassets.com/" />

  <meta name="google-site-verification"
    content="Apib7-x98H0j5cPqHWwSMm6dNU4GmODRoqxLiDzdx9I" />

  <meta name="octolytics-url"
    content="https://collector.github.com/github/collect" />
  <meta name="octolytics-actor-id" content="183934807" />
  <meta name="octolytics-actor-login" content="hngocle404" />
  <meta name="octolytics-actor-hash"
    content="f6b808f6c8a3d7c2779b435e64e00ba061644669028c3a339080acf50338d317" />

  <meta name="user-login" content="hngocle404" />

  <link rel="sudo-modal" href="/sessions/sudo_modal" />

  <meta name="viewport" content="width=device-width" />

  <meta name="description"
    content="GitHub is where people build software. More than 150 million people use GitHub to discover, fork, and contribute to over 420 million projects." />

  <link rel="search" type="application/opensearchdescription+xml"
    href="/opensearch.xml" title="GitHub" />

  <link rel="fluid-icon" href="https://github.com/fluidicon.png"
    title="GitHub" />

  <link rel="shared-web-socket"
    href="wss://alive.github.com/_sockets/u/183934807/ws?session=eyJ2IjoiVjMiLCJ1IjoxODM5MzQ4MDcsInMiOjE2ODUwNTQ0NDgsImMiOjE4NDQyNDMxMjgsInQiOjE3NDkyNzI0MTN9--bb71df3f5ec7ce9dd205aa3958bbf53af63af6605b2fe6cf65b26b40f0d4e482"
    data-refresh-url="/_alive"
    data-session-id="c33db1846ff7988a656cb16e4567cd0d1fda6fb5958dfbc532fadfb144c0d105" />
  <link rel="shared-web-socket-src"
    href="/assets-cdn/worker/socket-worker-eff89a71ae86.js" />

  <meta name="hostname" content="github.com" />

  <meta name="keyboard-shortcuts-preference" content="all" />

  <meta name="hovercards-preference" content="true" />

  <meta name="announcement-preference-hovercard" content="true" />

  <meta name="expected-hostname" content="github.com" />

  <meta http-equiv="x-pjax-version"
    content="67b33e0e746c4727c54901f4f2f13dab0198f71b4413b115a54c8013ab49ee33"
    data-turbo-track="reload" />

  <meta http-equiv="x-pjax-csp-version"
    content="53161f520790e248b982dd734532ffd3a6791dbcd9a427fac76dda1739abf49a"
    data-turbo-track="reload" />

  <meta http-equiv="x-pjax-css-version"
    content="0bc2c2b6c0a7ae3927845d15a96ab1715a898977179eb410e7a81468bfec0bcb"
    data-turbo-track="reload" />

  <meta http-equiv="x-pjax-js-version"
    content="2476c6834ec38790cbe19803c6d4cf92b4149ffd01510b967f0c55f432699ee6"
    data-turbo-track="reload" />

  <meta name="turbo-cache-control" content="no-preview"
    data-turbo-transient="" />

  <meta name="turbo-cache-control" content="no-cache" data-turbo-transient />

  <meta name="is_logged_out_page" content="true" />

  <meta name="octolytics-page-type" content="marketing" />

  <meta name="octolytics-revenue-play" content="Platform" />

  <link rel="alternate" hreflang="ja"
    href="https://github.com/features/issues?locale=ja" />
  <link rel="alternate" hreflang="ko"
    href="https://github.com/features/issues?locale=ko" />
  <link rel="alternate" hreflang="pt"
    href="https://github.com/features/issues?locale=pt" />
  <link rel="alternate" hreflang="es"
    href="https://github.com/features/issues?locale=es" />

  <link rel="canonical" href="https://github.com/features/issues"
    data-turbo-transient />

  <meta name="turbo-body-classes"
    content="logged-in env-production page-responsive" />

  <meta name="browser-stats-url"
    content="https://api.github.com/_private/browser/stats" />

  <meta name="browser-errors-url"
    content="https://api.github.com/_private/browser/errors" />

  <meta name="release" content="69e8c9abebcd599b725d29464d2cd0f4626d37c3" />

  <link rel="mask-icon"
    href="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg"
    color="#000000" />
  <link rel="alternate icon" class="js-site-favicon" type="image/png"
    href="https://github.githubassets.com/favicons/favicon.png" />
  <link rel="icon" class="js-site-favicon" type="image/svg+xml"
    href="https://github.githubassets.com/favicons/favicon.svg"
    data-base-href="https://github.githubassets.com/favicons/favicon" />

  <meta name="theme-color" content="#1e2327" />

  <meta name="color-scheme" content="light dark" />

  <meta name="msapplication-TileImage" content="/windows-tile.png" />

  <meta name="msapplication-TileColor" content="#ffffff" />

  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
</head>

<div class="logged-in env-production page-responsive"
  style="word-wrap: break-word;" data-turbo="false">
  <div data-turbo-body class="logged-in env-production page-responsive"
    style="word-wrap: break-word;">
    <div class="position-relative header-wrapper js-header-wrapper">
      <a href="#start-of-content" data-skip-target-assigned="false"
        class="p-3 color-bg-accent-emphasis color-fg-on-emphasis show-on-focus js-skip-to-content">Skip
        to content</a>

      <span data-view-component="true"
        class="progress-pjax-loader Progress position-fixed width-full">
        <span style="width: 0%;" data-view-component="true"
          class="Progress-item progress-pjax-loader-bar left-0 top-0 color-bg-accent-emphasis"></span>
      </span>

      <script crossorigin="anonymous" type="application/javascript"
        src="https://github.githubassets.com/assets/keyboard-shortcuts-dialog-8cffd5fd8d88.js"
        defer="defer"></script>
      <link crossorigin="anonymous" media="all" rel="stylesheet"
        href="https://github.githubassets.com/assets/primer-react.f322b041d5ce5828efd8.module.css" />
      <link crossorigin="anonymous" media="all" rel="stylesheet"
        href="https://github.githubassets.com/assets/keyboard-shortcuts-dialog.47de85e2c17af43cefd5.module.css" />

      <header
        class="HeaderMktg header-logged-out js-details-container js-header Details f4 py-3"
        role="banner" data-is-top="true" data-color-mode="light"
        data-light-theme="light" data-dark-theme="dark">
        <h2 class="sr-only">Navigation Menu</h2>

        <button type="button"
          class="HeaderMktg-backdrop d-lg-none border-0 position-fixed top-0 left-0 width-full height-full js-details-target"
          aria-label="Toggle navigation">
          <span class="d-none">Toggle navigation</span>
        </button>

        <div
          class="d-flex flex-column flex-lg-row flex-items-center px-3 px-md-4 px-lg-5 height-full position-relative z-1">
          <div
            class="d-flex flex-justify-between flex-items-center width-full width-lg-auto">
            <div class="flex-1">
              <button aria-label="Toggle navigation" aria-expanded="false"
                type="button" data-view-component="true"
                class="js-details-target js-nav-padding-recalculate js-header-menu-toggle Button--link Button--medium Button d-lg-none color-fg-inherit p-1">
                <span class="Button-content">
                  <span class="Button-label">
                    <div class="HeaderMenu-toggle-bar rounded my-1"></div>

                    <div class="HeaderMenu-toggle-bar rounded my-1"></div>

                    <div class="HeaderMenu-toggle-bar rounded my-1"></div>
                  </span>
                </span>
              </button>
            </div>
            A
          </div>
        </div>
      </header>

      <div data-color-mode="light" dir="ltr">
        Q
        <div data-color-mode="light"
          style="background-color: var(--brand-color-canvas-default);">
          <div data-color-mode="light">
            <div class="Primer_Brand__SubNav-module__SubNav__container___iZQjL">
              <nav
                class="Primer_Brand__SubNav-module__SubNav___dVoQu Primer_Brand__SubNav-module__SubNav--has-shadow___jkyC7"
                data-testid="SubNav-root">
                <div
                  class="Primer_Brand__SubNav-module__SubNav--header-container-outer___tneuD">
                  <div
                    class="Primer_Brand__SubNav-module__SubNav__header-container___heD5O">
                    <div
                      class="Primer_Brand__SubNav-module__SubNav__heading-container___jlouG">
                      <a href="https://github.com/features"
                        class="Primer_Brand__SubNav-module__SubNav__heading___MAxf6"
                        data-testid="SubNav-root-heading"
                        data-ref="subnav-heading-link-3sNh2f7CD6S5c3oOyhQOUv"
                        data-analytics-event='{"action":"features","tag":"link","location":"subnav","label":"features_link_null_subnav"}'>
                        Features
                      </a>
                    </div>
                    <button
                      class="Primer_Brand__SubNav-module__SubNav__overlay-toggle___GY93X"
                      data-testid="SubNav-root-button" aria-expanded="false"
                      aria-controls=":R5b:">
                      <span class="visually-hidden">Navigation menu</span>
                      <span
                        class="Primer_Brand__SubNav-module__SubNav__overlay-toggle-content___GYAh4 Primer_Brand__SubNav-module__SubNav__overlay-toggle-content--end___GySmq">
                        <svg aria-hidden="true" focusable="false"
                          class="octicon octicon-chevron-down Primer_Brand__SubNav-module__SubNav__overlay-toggle-icon___AjCc8"
                          viewBox="0 0 24 24" width="24" height="24"
                          fill="currentColor" display="inline-block"
                          overflow="visible"
                          style="vertical-align: text-bottom;">
                          <path
                            d="M5.22 8.22a.749.749 0 0 0 0 1.06l6.25 6.25a.749.749 0 0 0 1.06 0l6.25-6.25a.749.749 0 1 0-1.06-1.06L12 13.939 6.28 8.22a.749.749 0 0 0-1.06 0Z">
                          </path>
                        </svg>
                      </span>
                    </button>
                  </div>
                  <ul id=":R5b:"
                    class="Primer_Brand__SubNav-module__SubNav__links-overlay___CnpND"
                    data-testid="SubNav-root-overlay">
                    <li>
                      <a href="https://github.com/features/copilot"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-4gEEYfnQ9Yge9LHGss3EVu"
                        data-analytics-event='{"action":"github_copilot","tag":"link","location":"subnav","label":"github_copilot_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          GitHub Copilot
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/security"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-5pH39tAJgeZwoQQWuuWa3V"
                        data-analytics-event='{"action":"security","tag":"link","location":"subnav","label":"security_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Security
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/actions"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-MwaRrmt2rbmrPs1QGq1Jt"
                        data-analytics-event='{"action":"actions","tag":"link","location":"subnav","label":"actions_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Actions
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/codespaces"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-3N1gWAAC5EoTXT7Xume3N2"
                        data-analytics-event='{"action":"codespaces","tag":"link","location":"subnav","label":"codespaces_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Codespaces
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/issues"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-6G3IK6j5yCHHCCj1RCwGYd"
                        data-analytics-event='{"action":"issues","tag":"link","location":"subnav","label":"issues_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Issues
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/code-review"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-4zstkAkHb1iB5xPbW83G0D"
                        data-analytics-event='{"action":"code_review","tag":"link","location":"subnav","label":"code_review_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Code review
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/discussions"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-tL54mm6n7rcDPzx8IHzo9"
                        data-analytics-event='{"action":"discussions","tag":"link","location":"subnav","label":"discussions_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Discussions
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/features/code-search"
                        class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ"
                        data-testid="SubNav-root-link"
                        data-ref="subnav-link-5mD8kuhblNYPPr72KXNrUj"
                        data-analytics-event='{"action":"code_search","tag":"link","location":"subnav","label":"code_search_link_null_subnav"}'>
                        <span
                          class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Text-module__Text--weight-semibold___Ns19j Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                          Code search
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
              <div
                class="Primer_Brand__SubNav-module__SubNav__anchor-menu-outer-container___sfhEf">
                <div
                  class="Primer_Brand__SubNav-module__SubNav__anchor-menu-container___TNidG">
                </div>
              </div>
            </div>
          </div>
          <div class="Primer_Brand__Grid-module__Grid___q48mT"
            data-testid="Grid-:R9b:">
            <div
              class="Primer_Brand__Grid-module__Grid__column___HTpsw Primer_Brand__Grid-module__Grid__column--span-12___Tn1Hg">
              <div class="">
                <div
                  class="Primer_Brand__Box-module__Box-paddingBlockEnd--80___Sbcpv ContentfulHero-module__contentfulHeroContainer--HyE8X">
                  <section
                    class="Primer_Brand__Hero-module__Hero___EM3jf Primer_Brand__Hero-module__Hero--align-center___HUXm3 pb-0"
                    aria-labelledby="hero-section-brand-heading"
                    data-hpc="true">
                    <div
                      class="Primer_Brand__Grid-module__Grid___q48mT Primer_Brand__Grid-module__Grid--full-width___pIgWW Primer_Brand__Hero-module__Hero-grid___ty4Y7 Primer_Brand__Hero-module__Hero-grid--block-end___vzO3L"
                      data-testid="Grid-:R6pb:">
                      <div
                        class="Primer_Brand__Grid-module__Grid__column___HTpsw Primer_Brand__Grid-module__Grid__column--medium-span-12___eT5YS">
                        <div
                          class="Primer_Brand__Stack-module__Stack___tASKe Primer_Brand__Stack-module__Stack--vertical___CFzE7 Primer_Brand__Stack-module__Stack--gap-none___M7T_v Primer_Brand__Stack-module__Stack--align-items-center___xWKxj Primer_Brand__Stack-module__Stack--justify-content-center___uZGXl Primer_Brand__Stack-module__Stack--padding-none___RCMh9">
                          <span
                            class="Primer_Brand__Label-module__Label___TW0HL Primer_Brand__Label-module__Label--color-purple___ZHLtp Primer_Brand__Label-module__Label--size-medium___g4Jkm Primer_Brand__Hero-module__Hero-label___exV9w"
                            data-testid="Label">
                            <span
                              class="Primer_Brand__Label-module__Label__text____nAxj">
                              <span
                                class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--100___csEom Primer_Brand__Label-module__Label__label___bD_B4">
                                GitHub Issues
                              </span>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>