
<head>
    <meta charset="utf-8">
    <!-- <link rel="dns-prefetch" href="https://github.githubassets.com">
    <link rel="dns-prefetch" href="https://avatars.githubusercontent.com">
    <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
    <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
    <link rel="preconnect" href="https://github.githubassets.com" crossorigin>
    <link rel="preconnect" href="https://avatars.githubusercontent.com"> -->


    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/light-3e154969b9f9.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/dark-9c5b7a476542.css"/>
    <link data-color-theme="light" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/light-3e154969b9f9.css"/>
    <link data-color-theme="dark" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/dark-9c5b7a476542.css"/>
    <link data-color-theme="dark_dimmed" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/dark_dimmed-afda8eb0fb33.css"/>
    <link data-color-theme="dark_high_contrast" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/dark_high_contrast-2494e44ccdc5.css"/>
    <link data-color-theme="dark_colorblind" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/dark_colorblind-56fff47acadc.css"/>
    <link data-color-theme="light_colorblind" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/light_colorblind-71cd4cc132ec.css"/>
    <link data-color-theme="light_high_contrast" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/light_high_contrast-fd5499848985.css"/>
    <link data-color-theme="light_tritanopia" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/light_tritanopia-31d17ba3e139.css"/>
    <link data-color-theme="dark_tritanopia" crossorigin="anonymous" media="all" rel="stylesheet"
          data-href="https://github.githubassets.com/assets/dark_tritanopia-68d6b2c79663.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/primer-primitives-4cf0d59ab51a.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/primer-ff8ec1db4f06.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/global-dcca24a0602a.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/github-e4eed26e112b.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/site-6a145c5564e7.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/landing-pages-b7d5934a23e0.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/landing-pages-template-f2-814ed11c102b.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/primer-react-css.8570b2718b0a9c0c8387.module.css"/>
    <link crossorigin="anonymous" media="all" rel="stylesheet"
          href="https://github.githubassets.com/assets/landing-pages.9a48fe6ff18b1ecb5755.module.css"/>


    <link rel="sudo-modal" href="/sessions/sudo_modal">

    <meta name="viewport" content="width=device-width">




    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml">

    <link rel="fluid-icon" href="assets/namelogo.png" title="Kelly Le">
    <meta property="fb:app_id" content="1401488693436528">


    <!-- Open Graph meta tags for social sharing preview -->
    <meta property="og:title" content="Kalulu Le 404"/>
    <meta property="og:description" content="Good morning, good evening, and good night!"/>
    <meta property="og:image" content="https://kellyle404.github.io/public_website/assets/linkphoto.png"/>
    <meta property="og:url" content="https://kellyle404.github.io/public_website/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Kalulu Le 404"/>



    <link rel="shared-web-socket"
          href="wss://alive.github.com/_sockets/u/143296151/ws?session=eyJ2IjoiVjMiLCJ1IjoxNDMyOTYxNTEsInMiOjE0NDMxOTM0NjgsImMiOjE1ODMyNDkzNjMsInQiOjE3MjYwNTM0MzZ9--6ea15e3859fb4fdfedfbf9bb92f51972d29b18790fd525da3584824282bf56cd"
          data-refresh-url="/_alive" data-session-id="de6be0f88d07ba24b00eacc26d31c9f5566fb6a663f3b46e8f2a1bd71215cc60">
    <link rel="shared-web-socket-src" href="/assets-cdn/worker/socket-worker-1a9b1a7a6108.js">


    <link rel="preload" href="https://github.githubassets.com/assets/mona-sans-d1bf285e9b9b.woff2" as="font"
          type="font/woff2" crossorigin>
    <meta name="is_logged_out_page" content="true">




    <meta name="turbo-body-classes" content="logged-in env-production page-responsive">


    <meta name="browser-stats-url" content="https://api.github.com/_private/browser/stats">

    <meta name="browser-errors-url" content="https://api.github.com/_private/browser/errors">

    <link rel="mask-icon" href="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg" color="#000000">
    <link rel="alternate icon" class="js-site-favicon" type="image/png"
          href="https://github.githubassets.com/favicons/favicon.png">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml"
          href="https://github.githubassets.com/favicons/favicon.svg">

    <meta name="theme-color" content="#1e2327">
    <meta name="color-scheme" content="light dark"/>

    <meta name="msapplication-TileImage" content="/windows-tile.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
<body class="logged-in env-production page-responsive" style="word-wrap: break-word;">
<div data-turbo-body class="logged-in env-production page-responsive" style="word-wrap: break-word;">


    <div class="position-relative js-header-wrapper ">
        <a href="#start-of-content" data-skip-target-assigned="false"
           class="p-3 color-bg-accent-emphasis color-fg-on-emphasis show-on-focus js-skip-to-content">Skip to
            content</a>

        <span data-view-component="true" class="progress-pjax-loader Progress position-fixed width-full">
    <span style="width: 0%;" data-view-component="true"
          class="Progress-item progress-pjax-loader-bar left-0 top-0 color-bg-accent-emphasis"></span>
</span>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/light-3e154969b9f9.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/dark-9c5b7a476542.css"/>
        <link data-color-theme="light" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/light-3e154969b9f9.css"/>
        <link data-color-theme="dark" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/dark-9c5b7a476542.css"/>
        <link data-color-theme="dark_dimmed" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/dark_dimmed-afda8eb0fb33.css"/>
        <link data-color-theme="dark_high_contrast" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/dark_high_contrast-2494e44ccdc5.css"/>
        <link data-color-theme="dark_colorblind" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/dark_colorblind-56fff47acadc.css"/>
        <link data-color-theme="light_colorblind" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/light_colorblind-71cd4cc132ec.css"/>
        <link data-color-theme="light_high_contrast" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/light_high_contrast-fd5499848985.css"/>
        <link data-color-theme="light_tritanopia" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/light_tritanopia-31d17ba3e139.css"/>
        <link data-color-theme="dark_tritanopia" crossorigin="anonymous" media="all" rel="stylesheet"
              data-href="https://github.githubassets.com/assets/dark_tritanopia-68d6b2c79663.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/primer-primitives-4cf0d59ab51a.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/primer-css-layers-9606bd6de724.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/global-a81b331a6755.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/github-e4eed26e112b.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/site-6a145c5564e7.css"/>
        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/feature-issues-02a366c06a15.css"/>

        <link crossorigin="anonymous" media="all" rel="stylesheet"
              href="https://github.githubassets.com/assets/primer-react-css.ae7959f1a60166af593d.module.css"/>

        <title>Kalulu</title>
        </head>

        <body class="logged-in env-production page-responsive" style="word-wrap: break-word;">
        <div data-turbo-body class="logged-in env-production page-responsive" style="word-wrap: break-word;">


            <div
                    class="application-main"
                    data-commit-hovercards-enabled
                    data-discussion-hovercards-enabled
                    data-issue-and-pr-hovercards-enabled
            >
                <main class="font-mktg">


                    <div data-color-mode="light" dir="ltr">
                        <div data-color-mode="light">
                            <nav class="Primer_Brand__SubNav-module__SubNav___dVoQu 
                            Primer_Brand__SubNav-module__SubNav--has-shadow___jkyC7 F2Template__SubNav"
                            >
                                <div class="Primer_Brand__SubNav-module__SubNav__heading-container___jlouG"><a
                                        href="index.html"
                                        class="Primer_Brand__SubNav-module__SubNav__heading___MAxf6"
                                >Kelly Le</a></div>


                                <div class="Primer_Brand__SubNav-module__SubNav__links-overlay___CnpND">





                                    <!-- second nav link -->
                                    <a href="assets/resume.pdf"
                                       class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ">
                                <span class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--200___XAIGT Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                                    Resume</span>
                                    </a>


                                    <!--first nav link  -->
                                    <a class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ">
                                                    <span class="Primer_Brand__Text-module__Text___pecHN 
                                                    Primer_Brand__Text-module__Text-font--mona-sans___GpzSG 
                                                    Primer_Brand__Text-module__Text--default___DChoE 
                                                    Primer_Brand__Text-module__Text--200___XAIGT 
                                                    Primer_Brand__SubNav-module__SubNav__link-label___IoiSp"
                                                          href="projects.html"
                                                          onclick="document.getElementById('projects').scrollIntoView({behavior: 'smooth'}); return false;">
                                                    Projects & blogs (in development 😃) </span></a>



                                    <!-- third nav link -->
                                    <!-- <a href="projects.html"
                                    class="Primer_Brand__SubNav-module__SubNav__link___VBkrZ">
                             <span class="Primer_Brand__Text-module__Text___pecHN Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--200___XAIGT Primer_Brand__SubNav-module__SubNav__link-label___IoiSp">
                                 Blogs</span>
                             </a> -->




                                </div>
                                <!-- <button class="Primer_Brand__SubNav-module__SubNav__overlay-toggle___GY93X"
                                        aria-expanded="false"
                                        >
                                    <div class="Primer_Brand__SubNav-module__SubNav__overlay-toggle-content___GYAh4">
                                        <span class="Primer_Brand__Text-module__Text___pecHN 
                                        Primer_Brand__Text-module__Text-font--mona-sans___GpzSG Primer_Brand__Text-module__Text--default___DChoE Primer_Brand__Text-module__Text--200___XAIGT"></span>
                                        <svg aria-hidden="true" focusable="false" role="img"
                                             class="Primer_Brand__SubNav-module__SubNav__overlay-toggle-icon___AjCc8"
                                             viewBox="0 0 24 24" width="24" height="24" fill="white"
                                             style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                                            <path d="M5.22 8.22a.749.749 0 0 0 0 1.06l6.25 6.25a.749.749 0 0 0 1.06 0l6.25-6.25a.749.749 0 1 0-1.06-1.06L12 13.939 6.28 8.22a.749.749 0 0 0-1.06 0Z"></path>
                                        </svg>
                                    </div>
                                </button> -->
                            </nav>
                        </div>






                        <div class="Primer_Brand__Grid-module__Grid___q48mT" data-testid="Grid-:R2b:">
                            <div class="Primer_Brand__Grid-module__Grid__column___HTpsw Primer_Brand__Grid-module__Grid__column--span-12___Tn1Hg">
                                <div class="position-relative">
                                    <div class="ContentfulBackgroundImage-module__imageContainer--tIqLC "
                                         style="--focus-position:left" data-testid="contentful-bg-image-container">
                                        <picture class="Primer_Brand__Image-module__Image__container___acBJi">
                                            <source src="assets/header.png" media="(max-width: 480px)"/>
                                            <source src="assets/header.png"/>
                                            <source srcSet="assets/header.png 1x, assets/header.png 2x"
                                                    media="(max-width: 1280px)"/>
                                            <source srcSet="assets/header.png" media="(min-width: 1280px)"/>
                                            <img alt="title pic" width="100%" height="100%"
                                                 class="Primer_Brand__Image-module__Image___FgVuK" role="presentation"
                                                 src="assets/header.png"/>
                                        </picture>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        </body>