@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inter+Tight:wght@100..900&display=swap');

:root {
    --gradient-start: #b43072;
    --gradient-end: #ee5c39;
    --code_bg: #f5f5f5;
    --font-monospace: 'JetBrains Mono', monospace;
    --font-size-monospace: 14px;
}

.code_block {
    border-radius: 5px;
    padding: 0px 0px 22px 25px;
    margin: 20px 0px;
    background: var(--code_bg) !important;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    font-size: var(--font-size-monospace);
}

.output_block {
    border-radius: 5px;
    padding: 0px 0px 22px 25px;
    margin: 20px 0px;
    background: #ffffff !important;
    white-space: pre-wrap;
    font-family: var(--font-monospace);
    font-size: var(--font-size-monospace);
    border: 1px solid #d1d5da;
}

code {
font-family: var(--font-monospace); font-size: var(--font-size-monospace); font-weight: 700; color: var(--gradient-start); background-color: #f0f0f0; border-radius: 2px; padding: 2px 5px; margin-right: 5px;
}

hr {
    margin: 60px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
font-family: 'Inter' !important;
}
h2 {padding: 20px 0px 10px 0px !important;}
h3 {margin: 15px 0px 10px 0px !important;}
h4 {margin: 12px 0px 10px 0px !important; font-size: 18px;}
h1:not([class*="mktg"]) {
    padding: 40px 0px 10px 0px !important;
}

.collapsible {
    background-color: var(--code_bg);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 12px;
}

.collapsible .icon {
    display: inline-flex;
    margin-left: 8px;
}

.icon-up {
    display: none;
}

.collapsible.active .icon-up {
    display: inline-flex;
}

.collapsible.active .icon-down {
    display: none;
}

.content {
    display: none;
    padding: 20px 20PX 10PX 20PX;
    background: #ffffff !important;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #d1d5da;
}

.color-bg-subtle {
    border-radius: 5px;
    padding: 22px 16px 22px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
}

/* ========================================== */

.collapsible_code {
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 12px;
font-style: italic;
}

.collapsible_code .icon {
    display: inline-flex;
    margin-left: 8px;
}

.icon-up {
    display: none;
}

.collapsible_code.active .icon-up {
    display: inline-flex;
}

.collapsible_code.active .icon-down {
    display: none;
}

.content_code {
        white-space: pre-wrap;
        font-family: var(--font-monospace);
        font-size: var(--font-size-monospace);
    display: none;
    padding: 0px 10px 1px 25px;
        background: #ffffff !important;
        border-radius: 5px;
        border: 1px solid #d1d5da;
}